<p>Currently showing data from the last year.</p>
<p>
    Please select report period:
    <select ng-model="period" ng-change="data = getReport(period)" ng-options="period for period in periods"></select>
</p>
<div ng-switch="period">
    <h3 ng-switch-when="day">
        Daily Report
    </h3>
    <h3 ng-switch-when="week">
        Weekly Report
    </h3>
    <h3 ng-switch-when="month">
        Monthly Report
    </h3>
</div>
<div ng-if="data">
    <ul>
        <li ng-repeat="row in data |
            offset: currentPage*itemsPerPage |
            limitTo: itemsPerPage">
            {{row | formatRow:period}}
        </li>
    </ul>
    <div ng-if="pageCount() > 1" id="pagination">
        <ul>
            <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}">
                <a ng-click="setPage(n)">{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>
        <style>.disabled a {
            pointer-events: none;
            cursor: default;
            color: #cccccc;
        }
        #pagination ul
        {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        #pagination ul li { display: inline; }

        #pagination ul li a
        {
            text-decoration: none;
            padding: .2em 1em;
            color: #fff;
            background-color: #036;
        }
        </style>