<p>Currently showing data from the last year.</p>
<p>
    Please select report period:
    <select ng-model="period" ng-change="data = getReport(period)" ng-options="period for period in periods"></select>
</p>
<div ng-switch="period">
    <div ng-switch-when="day">
        <h3>Daily Report</h3>
        <ul>
            <li ng-repeat="row in data">
                {{row._id.month}}/{{row._id.day}}/{{row._id.year}}: {{Math.round(row.average*10)/10}}
            </li>
        </ul>
    </div>
    <div ng-switch-when="week">
        <h3>Weekly Report</h3>
        <ul>
            <li ng-repeat="row in data">
                {{row._id.year}}, week {{row._id.week}}: {{Math.round(row.average*10)/10}}
            </li>
        </ul>
    </div>
    <div ng-switch-when="month">
        <h3>Monthly Report</h3>
        <ul>
            <li ng-repeat="row in data">
                {{row._id.month}}/{{row._id.year}}: {{Math.round(row.average*10)/10}}
            </li>
        </ul>
    </div>
</div>