<p>Currently showing data from the last year.</p>
<p>
    Please select report period:
    <ul class="nav nav-pills" id="reports-nav">
        <li ng-click="period='day'" class="active" id="day">
            <a>Day</a>
        </li>
        <li ng-click="period='week'" id="week">
            <a>Week</a>
        </li>
        <li ng-click="period='month'" id="month">
            <a>Month</a>
        </li>
    </ul>
</p>
<div ng-switch="period">
    <h3 ng-switch-when="day">
        Daily Report
    </h3>
    <h3 ng-switch-when="week">
        Weekly Report
    </h3>
    <h3 ng-switch-when="month">
        Monthly Report
    </h3>
</div>
<div ng-if="!data">
    Loading...
</div>
<div ng-if="data && data.length > 0">
    <table id="report-data" class="table table-responsive">
        <tr ng-repeat="row in data |
            offset: (currentPage-1)*rowsPerPage |
            limitTo: rowsPerPage">
            <td ng-repeat="rating in row.ratings" class="text-center">
                <div ng-class="{'report-value': true,
                                'value-high': (rating.average >= 7),
                                'value-mid': (rating.average >= 4 && rating.average <7),
                                'value-low': (rating.average<4)}">
                    {{rating | formatValue}}
                </div>
                {{rating | formatLabel:period}}
            </td>
        </tr>
    </table>
    <div ng-if="pageCount() > 1" class=" text-center">
        <ul class="pagination">
            <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}">
                <a ng-click="setPage(n)">{{n}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>
<script>
    // dynamically activate list items when clicked
    $("#reports-nav li").on("click",function(){
        $("#reports-nav li").removeClass("active");
        $(this).addClass("active");
        // set period and update report
        var scope = angular.element(this).scope();
        scope.period = this.id;
        scope.getReport(scope.period);
    });
</script>
<style>
    #report-data td{
        border-top: none;
    }
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    .report-value {
        padding-top:1em;
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left:auto;
        margin-right:auto;
        box-shadow: -2px -2px 2px rgba(34,34,34,0.6);
    }
    .value-high {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, red);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    }
    .value-mid {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, green 100%, cyan 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, green, cyan);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, green 100%, cyan 95%);
    }
    .value-low {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, blue 100%, purple 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, purple);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, blue 100%, purple 95%);
    }
</style>